In [13]:
from src import main as mn
%load_ext autoreload
%autoreload 2

import warnings
warnings.filterwarnings('ignore')

from pandas import read_pickle as rp 
from pandas import merge as mg
from yfinance import Ticker as tk

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
# mn.download_tables()

In [6]:
vix_ticker = tk('^VIX')
vix_df = vix_ticker.history(interval = '1d',
                            period = 'max',
                            auto_adjust=False,
                           )

In [7]:
vix_df

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1990-01-02 00:00:00-06:00,17.240000,17.240000,17.240000,17.240000,17.240000,0,0.0,0.0
1990-01-03 00:00:00-06:00,18.190001,18.190001,18.190001,18.190001,18.190001,0,0.0,0.0
1990-01-04 00:00:00-06:00,19.219999,19.219999,19.219999,19.219999,19.219999,0,0.0,0.0
1990-01-05 00:00:00-06:00,20.110001,20.110001,20.110001,20.110001,20.110001,0,0.0,0.0
1990-01-08 00:00:00-06:00,20.260000,20.260000,20.260000,20.260000,20.260000,0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-01-29 00:00:00-06:00,13.980000,15.350000,13.590000,13.600000,13.600000,0,0.0,0.0
2024-01-30 00:00:00-06:00,13.690000,13.740000,13.230000,13.310000,13.310000,0,0.0,0.0
2024-01-31 00:00:00-06:00,13.420000,14.610000,13.180000,14.350000,14.350000,0,0.0,0.0
2024-02-01 00:00:00-06:00,14.210000,14.630000,13.870000,13.880000,13.880000,0,0.0,0.0
2024-02-02 00:00:00-06:00,13.950000,14.230000,13.390000,13.850000,13.850000,0,0.0,0.0

In [8]:
aapl_ticker = tk('AAPL')
aapl_df = aapl_ticker.history(interval = '1d',
                              period = 'max',
                              auto_adjust=False,
                             )

In [9]:
aapl_df

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1980-12-12 00:00:00-05:00,0.128348,0.128906,0.128348,0.128348,0.099319,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.122210,0.122210,0.121652,0.121652,0.094137,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.113281,0.113281,0.112723,0.112723,0.087228,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.115513,0.116071,0.115513,0.115513,0.089387,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.118862,0.119420,0.118862,0.118862,0.091978,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-01-29 00:00:00-05:00,192.009995,192.199997,189.580002,191.729996,191.729996,47145600,0.0,0.0
2024-01-30 00:00:00-05:00,190.940002,191.800003,187.470001,188.039993,188.039993,55859400,0.0,0.0
2024-01-31 00:00:00-05:00,187.039993,187.100006,184.350006,184.399994,184.399994,55467800,0.0,0.0
2024-02-01 00:00:00-05:00,183.990005,186.949997,183.820007,186.860001,186.860001,64885400,0.0,0.0
2024-02-02 00:00:00-05:00,179.860001,187.330002,179.250000,185.850006,185.850006,102518000,0.0,0.0

In [10]:
vix_df['date'] = vix_df.index.date
vix_df.reset_index(drop=True,inplace=True)
vix_df

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,date
0,17.240000,17.240000,17.240000,17.240000,17.240000,0,0.0,0.0,1990-01-02
1,18.190001,18.190001,18.190001,18.190001,18.190001,0,0.0,0.0,1990-01-03
2,19.219999,19.219999,19.219999,19.219999,19.219999,0,0.0,0.0,1990-01-04
3,20.110001,20.110001,20.110001,20.110001,20.110001,0,0.0,0.0,1990-01-05
4,20.260000,20.260000,20.260000,20.260000,20.260000,0,0.0,0.0,1990-01-08
...,...,...,...,...,...,...,...,...,...
8583,13.980000,15.350000,13.590000,13.600000,13.600000,0,0.0,0.0,2024-01-29
8584,13.690000,13.740000,13.230000,13.310000,13.310000,0,0.0,0.0,2024-01-30
8585,13.420000,14.610000,13.180000,14.350000,14.350000,0,0.0,0.0,2024-01-31
8586,14.210000,14.630000,13.870000,13.880000,13.880000,0,0.0,0.0,2024-02-01
8587,13.950000,14.230000,13.390000,13.850000,13.850000,0,0.0,0.0,2024-02-02

In [14]:
aapl_df['date'] = aapl_df.index.date
aapl_df.reset_index(drop=True,inplace=True)
aapl_df

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,date
0,0.128348,0.128906,0.128348,0.128348,0.099319,469033600,0.0,0.0,1980-12-12
1,0.122210,0.122210,0.121652,0.121652,0.094137,175884800,0.0,0.0,1980-12-15
2,0.113281,0.113281,0.112723,0.112723,0.087228,105728000,0.0,0.0,1980-12-16
3,0.115513,0.116071,0.115513,0.115513,0.089387,86441600,0.0,0.0,1980-12-17
4,0.118862,0.119420,0.118862,0.118862,0.091978,73449600,0.0,0.0,1980-12-18
...,...,...,...,...,...,...,...,...,...
10871,192.009995,192.199997,189.580002,191.729996,191.729996,47145600,0.0,0.0,2024-01-29
10872,190.940002,191.800003,187.470001,188.039993,188.039993,55859400,0.0,0.0,2024-01-30
10873,187.039993,187.100006,184.350006,184.399994,184.399994,55467800,0.0,0.0,2024-01-31
10874,183.990005,186.949997,183.820007,186.860001,186.860001,64885400,0.0,0.0,2024-02-01
10875,179.860001,187.330002,179.250000,185.850006,185.850006,102518000,0.0,0.0,2024-02-02

In [15]:
aapl_vix_df = mg(aapl_df, 
                 vix_df, 
                 on='date', 
                 how='left',
                 suffixes=('_left', '_right'),
                               
                )[['date',
                   'Open_left',
                   'High_left',
                   'Low_left',
                   'Close_left',
                   'Adj Close_left', 
                   'Adj Close_right',
                   'Volume_left',
                   'Dividends_left',
                   'Stock Splits_left',
                  ]]
aapl_vix_df

,date,Open_left,High_left,Low_left,Close_left,Adj Close_left,Adj Close_right,Volume_left,Dividends_left,Stock Splits_left
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099319,NaN,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094137,NaN,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087228,NaN,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089387,NaN,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091978,NaN,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
10871,2024-01-29,192.009995,192.199997,189.580002,191.729996,191.729996,13.60,47145600,0.0,0.0
10872,2024-01-30,190.940002,191.800003,187.470001,188.039993,188.039993,13.31,55859400,0.0,0.0
10873,2024-01-31,187.039993,187.100006,184.350006,184.399994,184.399994,14.35,55467800,0.0,0.0
10874,2024-02-01,183.990005,186.949997,183.820007,186.860001,186.860001,13.88,64885400,0.0,0.0
10875,2024-02-02,179.860001,187.330002,179.250000,185.850006,185.850006,13.85,102518000,0.0,0.0

In [5]:
ticker.get_actions()

                           Dividends  Stock Splits
Date
1987-05-11 00:00:00-04:00   0.000536           0.0
1987-06-16 00:00:00-04:00   0.000000           2.0
1987-08-10 00:00:00-04:00   0.000536           0.0
1987-11-17 00:00:00-05:00   0.000714           0.0
1988-02-12 00:00:00-05:00   0.000714           0.0
...                              ...           ...
2022-11-04 00:00:00-04:00   0.230000           0.0
2023-02-10 00:00:00-05:00   0.230000           0.0
2023-05-12 00:00:00-04:00   0.240000           0.0
2023-08-11 00:00:00-04:00   0.240000           0.0
2023-11-10 00:00:00-05:00   0.240000           0.0

[86 rows x 2 columns]

In [14]:
ticker.get_cashflow()

,2023-09-30,2022-09-30,2021-09-30,2020-09-30
FreeCashFlow,99584000000.0,111443000000.0,92953000000.0,73365000000.0
RepurchaseOfCapitalStock,-77550000000.0,-89402000000.0,-85971000000.0,-72358000000.0
RepaymentOfDebt,-11151000000.0,-9543000000.0,-8750000000.0,-12629000000.0
IssuanceOfDebt,5228000000.0,5465000000.0,20393000000.0,16091000000.0
IssuanceOfCapitalStock,NaN,NaN,1105000000.0,880000000.0
CapitalExpenditure,-10959000000.0,-10708000000.0,-11085000000.0,-7309000000.0
InterestPaidSupplementalData,3803000000.0,2865000000.0,2687000000.0,3002000000.0
IncomeTaxPaidSupplementalData,18679000000.0,19573000000.0,25385000000.0,9501000000.0
EndCashPosition,30737000000.0,24977000000.0,35929000000.0,39789000000.0
BeginningCashPosition,24977000000.0,35929000000.0,39789000000.0,50224000000.0
ChangesInCash,5760000000.0,-10952000000.0,-3860000000.0,-10435000000.0
FinancingCashFlow,-108488000000.0,-110749000000.0,-93353000000.0,-86820000000.0
CashFlowFromContinuingFinancingActivities,-108488000000.0,-110749000000.0,-93353000000.0,-86820000000.0
NetOtherFinancingCharges,-6012000000.0,-6383000000.0,-5580000000.0,-2880000000.0
CashDividendsPaid,-15025000000.0,-14841000000.0,-14467000000.0,-14081000000.0
CommonStockDividendPaid,-15025000000.0,-14841000000.0,-14467000000.0,-14081000000.0
NetCommonStockIssuance,-77550000000.0,-89402000000.0,-85971000000.0,-72358000000.0
CommonStockPayments,-77550000000.0,-89402000000.0,-85971000000.0,-72358000000.0
CommonStockIssuance,NaN,NaN,1105000000.0,880000000.0
NetIssuancePaymentsOfDebt,-9901000000.0,-123000000.0,12665000000.0,2499000000.0
NetShortTermDebtIssuance,-3978000000.0,3955000000.0,1022000000.0,-963000000.0
NetLongTermDebtIssuance,-5923000000.0,-4078000000.0,11643000000.0,3462000000.0
LongTermDebtPayments,-11151000000.0,-9543000000.0,-8750000000.0,-12629000000.0
LongTermDebtIssuance,5228000000.0,5465000000.0,20393000000.0,16091000000.0
InvestingCashFlow,3705000000.0,-22354000000.0,-14545000000.0,-4289000000.0
CashFlowFromContinuingInvestingActivities,3705000000.0,-22354000000.0,-14545000000.0,-4289000000.0
NetOtherInvestingChanges,-1337000000.0,-2086000000.0,-385000000.0,-909000000.0
NetInvestmentPurchaseAndSale,16001000000.0,-9560000000.0,-3075000000.0,5453000000.0
SaleOfInvestment,45514000000.0,67363000000.0,106483000000.0,120391000000.0
PurchaseOfInvestment,-29513000000.0,-76923000000.0,-109558000000.0,-114938000000.0
NetBusinessPurchaseAndSale,NaN,-306000000.0,-33000000.0,-1524000000.0
PurchaseOfBusiness,NaN,-306000000.0,-33000000.0,-1524000000.0
NetPPEPurchaseAndSale,-10959000000.0,-10708000000.0,-11085000000.0,-7309000000.0
PurchaseOfPPE,-10959000000.0,-10708000000.0,-11085000000.0,-7309000000.0
OperatingCashFlow,110543000000.0,122151000000.0,104038000000.0,80674000000.0
CashFlowFromContinuingOperatingActivities,110543000000.0,122151000000.0,104038000000.0,80674000000.0
ChangeInWorkingCapital,-6577000000.0,1200000000.0,-4911000000.0,5690000000.0
ChangeInOtherWorkingCapital,NaN,478000000.0,1676000000.0,2081000000.0
ChangeInOtherCurrentLiabilities,3031000000.0,6110000000.0,7475000000.0,8916000000.0
ChangeInOtherCurrentAssets,-5684000000.0,-6499000000.0,-8042000000.0,-9588000000.0
ChangeInPayablesAndAccruedExpense,-1889000000.0,9448000000.0,12326000000.0,-4062000000.0
ChangeInPayable,-1889000000.0,9448000000.0,12326000000.0,-4062000000.0
ChangeInAccountPayable,-1889000000.0,9448000000.0,12326000000.0,-4062000000.0
ChangeInInventory,-1618000000.0,1484000000.0,-2642000000.0,-127000000.0
ChangeInReceivables,-417000000.0,-9343000000.0,-14028000000.0,8470000000.0
ChangesInAccountReceivables,-1688000000.0,-1823000000.0,-10125000000.0,6917000000.0
OtherNonCashItems,-2227000000.0,1006000000.0,-4921000000.0,-97000000.0
StockBasedCompensation,10833000000.0,9038000000.0,7906000000.0,6829000000.0
DeferredTax,NaN,895000000.0,-4774000000.0,-215000000.0
DeferredIncomeTax,NaN,895000000.0,-4774000000.0,-215000000.0
DepreciationAmortizationDepletion,11519000000.0,11104000000.0,11284000000.0,11056000000.0
DepreciationAndAmortization,11519000000.0,11104000000.0,11284000000.0,11056000000.0
NetIncomeFromContinuingOperations,96995000000.0,99803000000.0,94680000000.0,57411000000.0